// - Cyan: hsl(180, 66%, 49%) - Dark Violet: hsl(257, 27%, 26%)
$color-primary-1: hsl(180, 66%, 49%);
$color-primary-2: hsl(257, 27%, 26%);
$color-secondary-1: hsl(0, 87%, 67%);
$color-smoke-white: #f4f6f8;
$color-gray-1: hsl(0, 0%, 75%); // - Gray:
$color-gray-2: hsl(254, 7%, 63%); //- Grayish Violet:
$color-gray-3: hsl(255, 11%, 22%); //- Very Dark Blue:
$color-gray-4: hsl(260, 8%, 14%); //- Very Dark Violet:
$section-margin: 15rem;
$search-margin: -10rem;
