
.footer {
  background-color: hsl(260, 14%, 17%);
  color: $color-smoke-white;

  &__container {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

    @include respond(tabPort) {
      text-align: center;
      grid-template-columns: 100%;
      grid-template-rows: auto repeat(3, 1fr) auto;
    }
  }

  &__brand-title {
    font-size: 3rem;

    @include respond(tabPort) {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
  }


  &__heading {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2.5rem;

    @include respond(tabPort) {
      font-size: 2.5rem;
    }
  }

  ul {

    list-style-type: none;
  }

  &__items {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link:visited,
  &__link:link {
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-gray-1;

    @include respond(tabPort) {
      font-size: 2rem;
    }
  }

  &__link:hover {
    color: $color-gray-2;
  }

  &__link:active {
    color: $color-primary-1;
  }

  &__social-media-links {
    display: flex;
    justify-content: space-between;
    // align-content: center;

    @include respond(tabPort) {
      width: 50%;
      margin: 0 auto;
      margin-top: 5rem;
    }
  }
}