.url {
  &__container {
    display: flex;
    background: white;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -7rem;

    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include respond(tabLand) {
      top: -4rem;
    }

    @include respond(tabPort) {
      flex-direction: column;
      top: -2rem;
      padding: 0;
    }
  }

  &__submitted {
    // overflow: hidden;
    // display: block;
    // text-overflow: "--";
    // white-space: nowrap;
    // border: 2px solid red;
  }
  &__submitted,
  &__output {
    font-size: 2rem;
  }

  &__output {
    color: $color-primary-1;
    border: none;
    background: white;
    overflow: hidden;
    font-family: inherit;
    width: auto;
    @include respond(tabPort) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__left,
  &__right {
    width: auto;
    @include respond(tabLand) {
      width: 48%;
    }
    @include respond(tabPort) {
      padding: 2rem;
    }
  }

  &__left {
    overflow: hidden !important;
    @include respond(tabPort) {
      width: 100%;
      // border-bottom: 2px solid $color-secondary-2;
      border-bottom: 0.5px solid $color-gray-1;
      // margin-bottom: 2rem;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    @include respond(tabLand) {
      // justify-content: initial;
    }
    @include respond(tabPort) {
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.btn--url,
.btn--clicked {
  background: $color-primary-1;
  color: white;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border-radius: 10px;

  @include respond(tabPort) {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}
.btn--clicked {
  background: $color-primary-2;
  &:active {
    background: lighten($color-primary-2, 20%);
  }
}
